/*Css goes here*/

@font-face{
	font-family: OpenSans;
	src: url("../fonts/OpenSans-Regular.ttf");
}
body{
	font-family: OpenSans, helvetica, verdana, tahoma ,sans-serif;
}
.login-form-container{
	border-radius: 5px;
	/*background-color: magenta;*/
}

.hero-skrollable{
	position: absolute;
	height: 100%;
	width: 100%;
	
	background: url("/img/sofia_bg.jpg") no-repeat;
	background-size: 100%;
}
.hero-overlay {
	opacity: .75;
	width: 100vw; 
	max-width: 100%;

	min-height: 400px;
	height: 40vh;
	position: absolute;
	background-color: #101240;

}
.site-introduction h1{
	text-align: center;
	color: #F8F2DA;
}
.hero-element-parent{
	height: 40vh;
	min-height: 400px;
}
.hero-element-container{
	height: 40vh;

	min-height: 400px;
}

.no-margin{
	margin:0;
	padding: 0
}

.btn-ghost{

	background-color: rgba(0,0,0,0.1);
	color: #F2F2F2;
	border: 2px solid white;
	border-radius: 100px;


	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;

}

.btn-ghost-0{

	background-color: rgba(0,0,0,0.0);
	color: #101240;
	border: 2px solid #101240;
	border-radius: 5px;


	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;

}

.btn-ghost-0:hover{

	background-color: rgba(0,0,0,0.0);
	color: #D10047;
	border: 2px solid #D10047;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;

}

.btn-ghost:hover{

	background-color: rgba(255,255,255,0.1);
	border: 2px solid black;
	color: #f2f2f2;

	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
}

.margin-v-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-v-50{
	margin-top: 50px;
	margin-bottom: 50px;
}

#hiddenLoginPopup, #hiddenRegisterPopup{
	position: fixed;	
	left:0;
	z-index: 100000;
}

.register-form-container, .login-form-container{
	background: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 10px #aaa;

}

.institution-container, .category-container{
	/*border-radius: 10px;*/
	background-color: white;
	box-shadow: 0px 0px 10px #aaa;
	margin-bottom: 50px;
	padding: 10px;
	box-sizing:border-box;
	min-height: 50%;

}
.inst-photo, .cat-photo{
	max-width: 100%;
}
.inst-name {
	color: #D10047;
	text-transform: capitalize;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24pt;
}
.cat-name{
	color: #3EB489;
	text-transform: capitalize;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24pt;
}
.inst-description, .cat-description{
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 14pt;
}

.inst-text, .cat-text{
	line-height: 1.41;
	margin-bottom: 10px;
	max-height: 30vh;
	overflow: hidden;
	word-wrap: break-word;
}
.inst-complaint-button, .cat-complaint-button{
	/*position: relative;*/
	bottom : 0;
	margin-top: 
	width: 100%;
}
.complaint-button{	
	bottom: 0;
	width:100%;
}
.category-wrapper{

}
.institution-wrapper .category-wrapper{
	min-height: 30%;
	max-height: 40vh;
}
.institution-profile, .category-profile{
	height: 90%;
}
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.data-button{

	padding: 10px;
	box-sizing:border-box;
	margin: 0;
	width: 100px;
	height: 33%;
}
.data-button .icon-parent{
	padding: 0 !important;

}
.icon-parent .i{
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.center-align{
	vertical-align: middle;
}
.gridmenu{
	padding:0;
	margin:0;
	width: auto;
	box-shadow: 0px 0px 10px #aaa;
	float:left;
	display: inline-block;
}

.signal-main-text textarea{
	max-width: 100%;
}

.signal-main-text, .signal-main-actions, .signal-main-summary{
	margin: 25px;
}

.add-button{
	float:right;
	width: 50px;
}
.send-button{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	color: black;
}