<div class="gridmenu" ng-show="inputMenuVisible">
	    		<div class="grid-inner">
	    			<div class="">
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="addFormElement('Geolocation')">
	    						<i class="fa fa-2x fa-map-marker"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>Location</label></div>
	    					</div>
	    				</div>
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="addFormElement('Images')">
	    						<i class="fa fa-2x fa-camera"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>Image</label>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="addFormElement('Files')">
	    						<i class="fa fa-2x fa-file-image-o"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>File</label></div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="">
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="expression">
	    						<i class="fa fa-2x fa-home"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>Adress</label></div>
	    					</div>
	    				</div>
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="expression">
	    						<i class="fa fa-2x fa-mobile"> </i>
	    						<div class="col-md-12 icon-parent">			
	    						<label>Phone</label></div>
	    					</div>
	    				</div>
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="expression">
	    						<i class="fa fa-2x fa-info-circle"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>Description</label>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="">
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="expression">
	    						<i class="fa fa-2x fa-question-circle"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>Plead</label>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="expression">
	    						<i class="fa fa-2x fa-table"> </i>
	    						<div class="col-md-12  icon-parent">			
	    						<label>Data</label>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="data-button btn btn-flat">
	    					<div ng-click="expression">
	    							<i class="fa fa-2x fa-star"> </i>
	    							<div class="col-md-12  icon-parent">			
	    								<label>About</label>
	    							</div>	    						
		    					</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>